/*Google Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

main {
    flex:1;
}


/*general-------- the body and content push footer to bottom of page*/

body {
    min-height:100vh;
    margin:0;
    padding: 0;
    display:flex;
    flex-direction: column;
    background-color:#A5B452 ;

    
}


/*colors-------------*/

.bg-color-name-title{
    background-color:#3D0814 ;
}
.list-inline-item a {
    color: #FFC09F;
}
.signup-main{
 color: #000000;   
}





/*heading-------------*/

header {
    margin: 0;

}
 
.fixed-header{

    top:0;
}

.logo{
    padding-top: 5px;
    font-size: 250%;
    color: #FFC09F;
    margin-left: 10px;
    
}

.love-to,
.pub-stop {
    color: #FFC09F;
    font-family: "Architects Daughter",sans-serif;
    background-color: #3D0814;
    font-size: 45px;
    font-weight: 900;
   
}

.pub-stop{
    padding-right:60px;
  
    padding-top: 25px;
}

.love-to {
    padding-top: 30px;
    height:40px;
}



.nav-bar {
    
    width: 350px;
    padding-top: 10px;

    
}

#nav li {
    font-size: 14px;
    padding: 0;
}
.menuitem {
    height: 50px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 20px;
}

.menuitem span {
    display:block;
    width: 100%;
    padding-top:5px;
    text-align:center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
/*-----------------------------hover.css*/
.hvr-sweep-to-bottom:before {
    background: rgba(25, 25, 25, 0.2);
    height: 100px;
}

/*footer-------------*/

.social-icons{
font-size:  40px;
background-color: #3D0814;
min-height: 50px;



}
/*main---------*/



    
.campervan-img {
margin: 0;
padding:0;
width:100%;
max-height: 1400px;



    
}
    
.hero-image{
    padding:0;

   
}
    .coastal-countryside-city{
        
        padding: 40px 20px;
        font-family:'Oswald', sans-serif; 
        font-size: 30px;
    }
    
    .camper-van-countryside{
        max-height: 200px;
        max-width: 150px;
    }

.camper-van-town {
    max-height: 200px;
    max-width: 150px;
}

.campervan-coast{

    min-height: 200px !important;
    max-width: 150px !important;
}


.Welcome h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.details-welcome{

    font-family: 'Exo', sans-serif;
    font-size: 20px;
}
.hvr-sweep-to-bottom{

    
    font-size: 30px;
    
    
  
}

.input-group mb-3{
    font-family:'Exo', sans-serif ;
} 
login-tab {
    font-family:'Exo', sans-serif ;
}


  
    
/* media query----------*/

@media(min-width:768px) {
    .
    
    } 


